/*MEDIA*/
@media (max-width: 1024px) {
  header {
    &.section .inner {
      max-width: none;
      height: auto;
      padding: 0 20px;
    }
    .menu-group,
    .sign-group {
      float: none;
    }
    .menu-group {
      display: block;
    }
    .logo {
      padding: 12px 0;
    }
    .main-menu {
      display: block;
      margin-bottom: 10px;
      li {
        border-top: 1px solid #e5e5e5;
        a {
          padding: 16px 0;
        }
      }
    }
    .sign-group {
      display: block;
      padding: 10px 0 20px;
    }
    .btn-group {
      display: block;
      .btn {
        justify-content: center;
      }
      .sign-in {
        margin-right: 0;
        margin-bottom: 12px;
      }
    }
    #search-form {
      margin-top: 12px;
      margin-right: 0;
    }
    #search {
      width: 100%;
      height: 42px;
      text-align: center;
    }
    .sub-menu {
      margin-top: 12px;
      margin-right: 0;
      justify-content: center;
    }
    .toggle {
      display: none;
    }
    .toggle.on {
      display: block;
    }
    #toggle-btn {
      display: block;
      // background: url("../img/toggle-btn.svg");
      // width: 18px;
      // height: 24px;
      // position: absolute;
      // top: 16px;
      // right: 20px;
      // cursor: pointer;
      // text-indent: -9999px;
      //media 쿼리에는 기본 속성을 작성하지 않고 보이게만 만드는 것이 더 최적화이다.
    }
  }

  /*VISUAL*/
  .section--visual {
    background-image: url("../img/bg-small.jpg");
    .inner {
      display: block;
      max-width: none;
      padding: 80px 20px;
    }
    .summary {
      text-align: center;
      margin-right: 0;
      margin-bottom: 50px;
    }
    #sign-form {
      width: auto;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  /*FEATURE*/
  .section--feature {
    .summary {
      padding: 66px 20px 0 20px;
    }
    .tiles {
      ul {
        grid-template-columns: repeat(2, 1fr);
        li {
          &:nth-child(2) {
            border-right: none;
          }
          img {
            padding: 14px 30% 24px;
          }
        }
      }
    }
  }

  /*WHERE IS*/
  .section--where-is .inner {
    max-width: none;
    padding: 80px 20px 0 20px;
  }

  /*PRICING*/
  .section--pricing {
    .inner {
      max-width: none;
      padding-left: 20px;
      padding-right: 20px;
    }
    .card .cell2 {
      font-size: 20px;
    }
  }

  /*FOOTER*/
  footer {
    .inner {
      padding: 50px 20px;
    }
    .logo {
      display: none;
    }
  }
}
